html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #0a0a0a;
  color: #f0f0f0;
    user-select: none;
  overflow: hidden;
}

.soderzh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

 

.code-container {
  margin-top: 10px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.code-block {
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
  color: #dcdcdc;
}

.code-item {
  background-color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  color: #dcdcdc;
  text-decoration: none;
  font-size: 1.2em;
  margin: 5px;
}

.hint {
  font-size: 1.2em;
  color: #dcdcdc;
  margin-left: 20px;
  margin-top: 40px;  
  text-align: left;
  font-weight: bold;
}

p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

 

  .code-item {
    font-size: 1.2em;
  }

  .hint {
    font-size: 1em;
    margin-top: 35px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.3em;
  }

 

  .code-item {
    font-size: 1em;
  }

  .hint {
    font-size: 0.9em;
    margin-top: 30px;
  }
    .code-container {
    width: 90%;
  max-width: 350px;
    padding: 15px;
    margin-bottom: 30px;
  }
  p {
    font-size: 0.9em;
 
  }
}
