html, body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     height: 100%;
       background-color: #0a0a0a;
   color: #f0f0f0;
   overflow:hidden;
   }
 
   .soderzh {
 @@ -19,6 +22,11 @@
     font-size: 2em;
     margin-bottom: 20px;
   }
 
 .task-text {
   font-size: 1.8em;
   margin-bottom: 50px;
 }
 
   .description {
     font-size: 1.2em;
 @@ -50,8 +58,9 @@
 
   .hint {
     font-size: 1.2em;
     color: #333;
     color: ##dcdcdc;
     margin-left: 20px;
     margin-top:10px;
     text-align: left;
     font-weight: bold;
   }
 @@ -64,7 +73,11 @@
     .description {
       font-size: 1em;
     }
   
 
     .task-text {
     font-size: 1.5em;
     margin-bottom: 30px;
   }
     .code-item {
       font-size: 1.2em;
     }
 @@ -82,13 +95,17 @@
     .description {
       font-size: 0.9em;
     }
     .task-text {
     font-size: 1.4em;
     margin-bottom: 20px;
   }
 
     .code-item {
       font-size: 1em;
     }
 
     .hint {
       font-size: 0.9em;
     }
   }
